<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        {% include 'header.html' %}
        <title>系統一覽 - 管理後台</title>
    </head>
    <body class="bg-light">
        <!-- nav bar -->
        {% include 'admin_navbar.html' %}
        <div class="container py-5">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ messages[0] }}</strong>
                </div>
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">系統一覽</h2>
                </div>
                <!-- 只有「目前登入者 ID=1」時看的到 -->
                {% if current_user_id == 1 %}
                <div class="col-md-6">
                    <div class="col mb-4">
                        <!-- 匯入CSV -->
                        <form action="{{ url_for('admin.admin_import') }}" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="file" class="form-label">選擇CSV檔案</label>
                                <input type="file" class="form-control" id="file" name="file" accept=".csv">
                            </div>
                            <button type="submit" class="btn btn-primary">匯入全部投稿文章</button>
                            <a href="{{ url_for('admin.admin_export') }}" class="btn btn-secondary">匯出全部投稿文章</a>
                        </form>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            System Information
                        </div>
                        <div class="card-body">
                            <p class="card-text">Debug Mode：{{ debug_mode }}</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            Webhook URLs
                        </div>
                        <div class="card-body">
                            <p class="card-text">Discord Posted Webhook URL：{{ discord_posted_url }}</p>
                            <p class="card-text">Discord Verified Webhook URL：{{ discord_verified_url }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Database Information
                        </div>
                        <div class="card-body">
                            {% if debug_mode == 'True' %}
                                <p class="card-text">File：test.db</p>
                            {% else %}
                                <p class="card-text">MySQL URL：{{ mysql_url }}</p>
                                <p class="card-text">MySQL Port：{{ mysql_port }}</p>
                                <p class="card-text">MySQL User：{{ mysql_user }}</p>
                                <p class="card-text">MySQL Database：{{ mysql_database }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <p>權限不足!</p>
                {% endif %}
            </div>
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
